@using System.Web.UI.WebControls
@using TimeTracker.App.Models
@model  TimeTracker.App.Models.CalendarReportVM
@{
    ViewBag.Title = "Reports";
}


<h2>Calendar Reports</h2>
<h3>@Model.EmployeeName @Model.TeamName </h3>
<h2>@Model.Start.ToString("MMMM yyyy")</h2>


@{
    int curDOW = -1;
}
<table class="calendar table ">
    @foreach (DateTime day in Model.EachDay(Model.Start, Model.End).OrderBy(x => x.DayOfWeek).ThenBy(x => x.Date))
    {
        var details = Model.Details.Where(x => x.Day == day);

        if ((int) day.DayOfWeek != curDOW)
        {
            if (curDOW != -1)
            {
                @Html.Raw("</tr>")
            }
            @Html.Raw("<tr class='Week'>")


            //TODO as we loop through, check if this day is in the entries

            <td class="DayOfWeek">
                @day.DayOfWeek

            </td>

            curDOW = (int) day.DayOfWeek;
        }
        <td class='@(day.Month == Model.Start.Month ? "TimeEntry" : "")   @(details.FirstOrDefault()?.CheckInStatus.ToString() ?? "")'>
            @if (day.Month == Model.Start.Month)
            {

                @day.ToString("dd")
                <span>Entries = @details.Count()</span>
            }
        </td>

    }
    @Html.HiddenFor()
</table>
