@model TimeTracker.App.Models.TimeEntryIndexVM
@{
    ViewBag.Title = "Index";
}

<h2>@Model.TeamName - @Model.ShiftName for @Model.Date.ToShortDateString()</h2>

@using (Html.BeginForm("Index", "TimeEntry", FormMethod.Get))
{
    @Html.HiddenFor(model => model.TeamId)
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ShiftId, Model.PossibleShifts, new {@class = "form-control", onchange="this.form.submit()"})
        </div>
    </div>
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Member Name</th>
    </tr>
    <tbody>
    @foreach (var person in Model.TeamMembers.OrderBy(x => x.FullName))
    {

        <tr>
            <td>
                <h4>@person.FullName</h4></td>
            <td> @Html.ActionLink("Update Clock in Status", "EmployeeEntry", new { EmployeeId = person.Id, ShiftId = Model.ShiftId, Date = Model.Date.ToShortDateString() }, new { @class = "btn btn-primary" })</td>
        </tr>
    }
    </tbody>
</table>
